/*--
	Author: Alexandre PECCAUD
--*/



/*-- Fonts --*/

	/* latin-ext */
	@font-face {
		font-family: 'Lato';
		font-style: normal;
		font-weight: 400;
		src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
		unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
	}
	/* latin */
	@font-face {
		font-family: 'Lato';
		font-style: normal;
		font-weight: 400;
		src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v13/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
	}
	/* latin-ext */
	@font-face {
		font-family: 'Lato';
		font-style: normal;
		font-weight: 700;
		src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v13/rZPI2gHXi8zxUjnybc2ZQFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
		unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
	}
	/* latin */
	@font-face {
		font-family: 'Lato';
		font-style: normal;
		font-weight: 700;
		src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v13/MgNNr5y1C_tIEuLEmicLmwLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
	}

	/* latin-ext */
	@font-face {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/YZaO6llzOP57DpTBv2GnyFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
		unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
	}
	/* latin */
	@font-face {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 400;
		src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
	}

/*-- //Fonts --*/



/*-- Reset-Code --*/

	body {
		padding: 0;
		margin: 0;
		background: #FFF;
		font-family: 'Lato', 'Regular';
		font-size: 16px;
		overflow-x: hidden;
	}

	body a {
		text-decoration: none;
	}

	body a:hover {
		text-decoration: none;
	}

	body a:focus, a:hover {
		text-decoration: none;
	}

	input[type="button"], input[type="submit"], button.btn, button.btn:hover {
		transition: 0.5s all;
		-webkit-transition: 0.5s all;
		-moz-transition: 0.5s all;
		-o-transition: 0.5s all;
		-ms-transition: 0.5s all;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		padding: 0;
		text-align: center;
		font-family: 'Raleway', sans-serif;
	}

	p {
		margin: 0;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	label {
		margin: 0;
	}

	img {
		width: 100%;
	}

	a:focus, a:hover {
		text-decoration: none;
		outline: none;
	}

/*-- //Reset-Code --*/



/*-- Navbar --*/
	.navbar {
		display: none;
		padding: 0px 20px;
		box-shadow: none !important;
		-webkit-box-shadow: none !important;
		background: none !important;
		background-color: #fff !important;
		min-height: 60px;
		padding-top: 5px;
		border-bottom: 1px solid rgb(231, 231, 231);
	}
	.navbar-brand {
		font-size: 22px;
	}
	.navbar-right li {
		font-size: 20px;
	}
	.navbar-right li .fa {
		margin-right: 10px;
	}
	.navbar-right .active a {
		box-shadow: none !important;
		-webkit-box-shadow: none !important;
		background: none !important;
		background-color: rgb(231, 231, 231) !important;
		border-radius: 1px;
	}
	.navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:hover {
		color: #b61924;
	}
/*-- //Navbar --



/*-- Header Section --*/

	header {
		height: 100vh;
		width: 100vw;
		margin-bottom: 50px;
		background-color: black;
		background-image: url("../images/header-background.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		color: #000;
	}

	header .overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: black;
		opacity: 0.3;
	}

	header h1 {
		position: absolute;
		top: 10%;
		right: 0;
		left: 0;
		width: 70%;
		margin: 0 auto;
		padding: 75px 0;
		font-size: 4vw;
		font-family: 'Latin', sans-serif;
		letter-spacing: 3px;
		font-weight: 700;
		color: #FFF;
		background-color: rgba(0, 0, 0, 0.22);
		border: 5px solid #FFF;
	}

	header h2 {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		width: 35%;
		margin: 0 auto;
		padding: 20px 0;
		font-family: 'Latin', sans-serif;
		font-size: 2vw;
		letter-spacing: 2px;
		font-weight: 700;
		color: #000;
		background-color: #FFF;
	}

	/*-- Navigation --*/

	header .nav {
		position: absolute;
		top: 65%;
		left: 0;
		right: 0;
		width: 70%;
		margin: 0 auto;
		text-align: center;
	}

	header .nav .container {
		width: 100%;
	}

	header .nav .nav-item {
		position: relative;
		display: inline-block;
		width: 100px;
		height: 100px;
		font-size: 60px;
		margin: 10px 0;
		color: white;
		border: 5px solid white;
		background-color: rgba(0, 0, 0, 0.22);
		box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	}

	header .nav .nav-item a {
		color: white;
	}

	header .nav .nav-item .nav-item-front {
		-webkit-transition: all 0.6s ease-in-out;
		-moz-transition: all 0.6s ease-in-out;
		-o-transition: all 0.6s ease-in-out;
		-ms-transition: all 0.6s ease-in-out;
		transition: all 0.6s ease-in-out;
	}

	header .nav .nav-item .nav-item-back {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		opacity: 0;
		background: rgba(0, 0, 0, 0.5);
		pointer-events: none;
		-webkit-transform: scale(1.5);
		-moz-transform: scale(1.5);
		-o-transform: scale(1.5);
		-ms-transform: scale(1.5);
		transform: scale(1.5);
		-webkit-transition: all 0.4s ease-in-out 0.2s;
		-moz-transition: all 0.4s ease-in-out 0.2s;
		-o-transition: all 0.4s ease-in-out 0.2s;
		-ms-transition: all 0.4s ease-in-out 0.2s;
		transition: all 0.4s ease-in-out 0.2s;
	}

	header .nav .nav-item:hover .nav-item-front {
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-o-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		opacity: 0;
	}

	header .nav .nav-item:hover .nav-item-back {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		opacity: 1;
		pointer-events: auto;
	}

	header .nav .nav-item-back h3 {
		font-size: 18px;
		font-weight: 700;
		margin-top: 35px;
	}

	/*-- //Navigation --*/

/*-- //Header Section --*/



/*-- Presentation Section --*/

	#presentation {
		padding: 50px 0;
	}

	#presentation .container > div {
		padding-top: 20px;
	}

	#presentation h2 {
		font-size: 50px;
		margin-top: 30px;
		margin-bottom: 50px;
		letter-spacing: 2px;
		
	}

	#presentation h3 {
		display: inline-block;
		font-size: 25px;
		font-weight: 500;
		text-align: left;
		padding-bottom: 10px;
		border-bottom: 3px solid #000;
		margin-bottom: 25px;
	}

	#presentation p {
		padding-right: 15px;
		line-height: 30px;
		text-align: justify;
	}

	#presentation p strong {
		font-weight: bold;
	}

	#presentation .photo {
		float: right;
		width: 300px;
		margin-left: 30px;
		margin-right: 15px;
		margin-bottom: 30px;
	}

	#presentation ul li {
		display: block;
		padding: 15px 0;
	}

	#presentation ul li .li1 {
		width: 20%;
		float: left;
		font-weight: 700;
	}

	#presentation ul li .li2 {
		width: 10%;
		float: left;
		text-align: center;
	}

	#presentation ul li .li3 {
		width: 70%;
		float: left;
		padding-top: 1px;
	}

	#presentation ul li:nth-child(1) {
		padding-top: 0;
	}

	#presentation ul li:nth-child(5) {
		padding-bottom: 0;
	}

	#presentation ul li:nth-child(5) .li3 {
		padding-right: 100px;
		line-height: 25px;
	}

	#presentation ul li a {
		color: #333;
	}

	#presentation ul li a:hover {
		color: #607D8B;
	}

/*-- //Presentation Section --*/



/*-- Skills Section --*/

	#skills {
		padding: 50px 0;
		padding-bottom: 30px;
	}

	#skills h2 {
		font-size: 50px;
		margin-top: 30px;
		margin-bottom: 50px;
	}

	#skills h3 {
		display: inline-block;
		font-size: 25px;
		font-weight: 500;
		text-align: left;
		padding-bottom: 10px;
		border-bottom: 3px solid #000;
		margin-bottom: 25px;
	}

	#skills h4 {
		font-family: 'Lato', 'Regular';
	}

	#skills .container {
		padding-top: 20px;
	}

	#skills .container p {
		margin: 15px 0;
		font-style: italic;
	}

	#skills .container .item {
		margin: 20px 0px;
		padding: 20px;
	}

	#skills .container .item .icon {
		box-sizing: border-box;
		text-align: center;
	}

	#skills .container .item .icon b {
		font-weight: 500;
	}

	#skills .container .item .icon .fa {
		font-size: 50px;
		color: #B71C1C
	}

	#skills .container .item .icon h4 {
		color: #333;
		font-size: 16px;
		line-height: inherit;
		padding-top: 5px;
	}

	#skills .container .item .content {
		padding: 0 10px;
		vertical-align: top;
		box-sizing: border-box;
		padding-top: 10px;
		text-align: justify;
	}

/*-- //Skills Section --*/



/*-- Work Section --*/

	#work {
		padding: 50px 0;
	}

	#work h2 {
		font-size: 50px;
		margin-top: 30px;
		margin-bottom: 50px;
	}

	#work .hovereffect {
		width: 100%;
		height: 100%;
		margin: 20px 0;
		border-radius: 3px;
    	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
		float: left;
		overflow: hidden;
		position: relative;
		text-align: center;
		cursor: pointer;
	}

	#work .hovereffect .overlay {
		width: 100%;
		height: 100%;
		border-radius: 3px;
    	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0;
		opacity: 0;
		background-color: rgba(0,0,0,0.5);
		-webkit-transition: all .4s ease-in-out;
		transition: all .4s ease-in-out
	}

	#work .hovereffect img {
		display: block;
		position: relative;
		-webkit-transition: all .4s linear;
		transition: all .4s linear;
	}

	#work .hovereffect h2 {
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		position: relative;
		font-size: 17px;
		background: rgba(0,0,0,0.6);
		-webkit-transform: translatey(-100px);
		-ms-transform: translatey(-100px);
		transform: translatey(-100px);
		-webkit-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		padding: 10px;
	}

	#work .hovereffect .info {
		text-transform: uppercase;
		color: #fff;
		background-color: transparent;
		opacity: 0;
		filter: alpha(opacity=0);
		-webkit-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}

	#work .hovereffect:hover img {
		-ms-transform: scale(1.2);
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}

	#work .hovereffect:hover .overlay {
		opacity: 1;
		filter: alpha(opacity=100);
	}

	#work .hovereffect:hover h2,#work .hovereffect:hover .info {
		opacity: 1;
		filter: alpha(opacity=100);
		-ms-transform: translatey(0);
		-webkit-transform: translatey(0);
		transform: translatey(0);
	}

	#work .hovereffect:hover .info {
		-webkit-transition-delay: .2s;
		transition-delay: .2s;
	}

	#work .visible-xs-block {
		color: #5e5e5e;
	}

	#work .modalWork .modal-body {
		padding: 30px;
		text-align: justify;
	}

	.vcenter {
		display: inline-block;
		vertical-align: middle;
		float: none;
	}

	#work .modalWork .modal-body ul li {
		position: relative;
		left: 2em;
		padding-right: 2em;
	}

	#work .modalWork img {
		margin-bottom: 30px;
	}

/*-- //Work Section --*/



/*-- Contact Section --*/

	#contact {
		margin-top: 50px;
		padding: 50px 0;
		background-image: url("../images/contact.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		color: #000;
	}

	#contact h2 {
		font-size: 50px;
		font-weight: 500;
		margin-bottom: 50px;
		color: white;
	}

	#contact #contactForm input[type='text'], #contactForm input[type="email"] {
		width: 100%;
		border-radius: 0;
		line-height: 22px;
		font-size: 14px;
		padding: 14px 17px 14px;
		outline: none;
		color: #FFF;
		height: 50px;
		border: 1px solid #d5d5d5;
		margin: 0 0 20px;
		background: rgba(0, 0, 0, 0.8);
	}

	#contact #contactForm textarea {
		width: 100%;
		border-radius: 0;
		line-height: 22px;
		font-size: 14px;
		padding: 14px 17px 14px;
		outline: none;
		border: 1px solid #d5d5d5;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		resize: none;
		color: #FFF;
		height: 190px;
		background: rgba(0, 0, 0, 0.8);
	}

	#contact form#contactForm {
		text-align: center;
	}

	#contact .message {
		margin-bottom: 30px;
	}

	#contact .submit {
		padding: 13px 30px;
		border: 1px solid #d5d5d5;
		font-size: 16px;
		color: #FFF;
		background-color: rgba(0, 0, 0, 0.8);
		text-decoration: none;
		outline: none;
		transition: 0.5s all;
		-webkit-transition: 0.5s all;
		-moz-transition: 0.5s all;
		-o-transition: 0.5s all;
		-ms-transition: 0.5s all;
		cursor: pointer;
	}

	#contact .submit:hover {
		color: #FFF;
		background-color: #607d8b;
	}

/*-- //Contact Section --*/



/*-- Footer Section --*/

	footer {
		margin: 25px 0;
	}

	footer .c1 {
		margin-bottom: 10px;
	}

	footer .center {
		text-align: center;
	}

	footer .icons {
		color: #B71C1C;
	}

	footer .icons a {
		font-size: 3em;
		color: #B71C1C;
	}

/*-- //Footer Section --*/



/*-- Banner --*/
	#banner {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		font-size: 20px;
		padding: 15px 0;
		text-align: center;
		background-color: #DAF7A6;
		color: #D84315;
		font-weight: 500;
	}
/*-- //Banner --*/



/*-- Go-To-Top-Button --*/

	#toTop {
		z-index: 99999;
		display: none;
		text-decoration: none;
		position: fixed;
		bottom: 0;
		right: 0;
		overflow: hidden;
		width: 40px;
		height: 40px;
		border: none;
		text-indent: 100%;
		background: url("../images/to-top.png") no-repeat 0px 0px;
	}

/*-- //Go-To-Top-Button --*/



/*-- Typed Cursor header --*/

	.typed-cursor{
		color: black;
		opacity: 1;
		-webkit-animation: blink 0.7s infinite;
		-moz-animation: blink 0.7s infinite;
		animation: blink 0.7s infinite;
	}
	@keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
	}
	@-webkit-keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
	}
	@-moz-keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
	}

/*-- //Typed Cursor header --*/



/*-- Tablet --*/
@media screen and (max-width: 768px)
{
	/*-- Header --*/

		header h1 {
			top: 5%;
			width: 80%;
		}

		header h2 {
			top: 40%;
			width: 70%;
			font-size: 3vw;
		}

		header .nav {
			top: 55%;
		}

	/*-- //Header --*/

	/*-- Presentation --*/

		#presentation .container div:last-child h3 {
			padding-top: 30px;
		}

	/*-- Presentation --*/
}
/*-- //Tablet --*/



/*-- Phone --*/
@media screen and (min-width: 1px) and (max-width: 576px)
{
	h2 {
		font-size: 30px !important;
	}
	h3 {
		font-size: 20px !important;
	}
	section {
		padding-top: 30px !important;
	}

	header {
		background-attachment: scroll;
	}
	header h2 {
		font-size: 3vw !important;
	}
	header .nav .nav-item {
		width: 70px;
		height: 70px;
		font-size: 42px;
	}
	header .nav .nav-item .nav-item-front {
		-webkit-transition: none !important;
		-moz-transition: none !important;
		-o-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
	}
	header .nav .nav-item:hover .nav-item-front {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
	header .nav .nav-item:hover .nav-item-back {
		-webkit-transition: none !important;
		-moz-transition: none !important;
		-o-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
		opacity: 0;
	}

	#presentation .photo {
		width: 100%;
	}

	#contact {
		background-attachment: scroll;
	}

	footer {
		text-align: center;
	}
	footer .c1 {
		margin-bottom: 20px;
	}
}
/*-- //Phone --*/
